.carte-podium {
    background-color: blue;
    border-radius: 2%;
    height: 49vh;
    width: 79vh;
    /* left: 10vh; */
    left:50%;
    transform: translateX(-50%);
    overflow: hidden;
    position: relative;
}

.full-height-map {
    justify-content: center;
    height: 45vh;
    width: 75vh;
    margin: 2vh;
}